/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* Your Custom Color Palette */
  --color-baltic-blue: #05668d;
  --color-rich-cerulean: #427aa1;
  --color-alice-blue: #ebf2fa;
  --color-sage-green: #679436;
  --color-lime-moss: #a5be00;
}

body {
  background-color: var(--color-gray-50, #f9fafb);
  color: var(--color-gray-900, #111827);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none; /* Prevents pull-to-refresh on mobile */
}

/* Hide scrollbar for a cleaner mobile feel */
::-webkit-scrollbar {
  display: none;
}